/*  import fonts */
/* @import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap'); */

.navbar-menu :hover{
    background-color: black !important;
}



.hero-body{
    /* display: flex; */
    background-image: url("../images/banner.jpg");
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Open+Sans','sans-serif','Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS'; 
}

.navbar-menu {
    font-weight: 500;
    margin-bottom: 1em;
    margin-top: 1em;
}

.container h2 {
    color: #ffff91 !important;
}

/* .container h1 {
    font-size: 48px !important;
}  */




 