/*  import fonts */
/* @import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap'); */


.hero-body{
    display: flex;
    background-image: url("../images/banner.jpg");
    height: 100vh;
    min-height: 500px;
    background-size: cover;
    background-attachment: fixed;
    /* font-family: 'Open+Sans','sans-serif','Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS'; */
}

.navbar-menu{
    font-weight: 600;
    margin-bottom: 1em;
    margin-top: 1em;
}

/* h2, h3, h4{
    font-family: 'Open+Sans','sans-serif','Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS';
} */


/* h2{
    font-size: 80px;
    font-weight: bold;
    margin-left: -3px;
    color: #ffff91;
}

h3{
    font-size: 28px;
    margin: 5px 0;
    color:#ffff91;
    font-weight: bold;
} */



 